.experience {
    padding-top: 5rem;
}
.brief-description {
    margin: 0 5% 0 5%;
}

.amenities-heading h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.amenities-facilities {
    display: flex;
    width: 100%;
}

.left {
    width: 50%;
}

.experience img {
    width: 100%;
    display: block;
}

.right {
    width: 50%;
}

.kids-heading h1 {
    text-align: center;
}

.brief-description {
    width: 90%;
    height: 60px;
}

.brief-description p {
    text-align: center;
}

.left button,
.right button {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 15px;
    margin-top: 75px;
}

.left p,
.right p {
    padding: 20px;
}