.app {
    background-color: var(--primary-color);
    font-family: var(--font-base);
}
.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-text {
    font-size: 0.8rem;
    text-align: left;
    color: var(--gray-color);
    line-height: 1.5;
}

.bold-text {
    font-size: 0.9rem;
    font-weight: 800;
    color: var(--white-color);
    text-align: center;
    margin: 0.5rem 0;
  }
